<table class="table table-bordered">
    <thead>
        <tr>
            <th width="230">
                Item
            </th>
            <th width="65">
                Cost £
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jacket Potato</td>
            <td align="right">2.95</td>
            <td><a style="cursor:pointer;">delete</a></td>
        </tr>
        <tr>
            <td>Toasted Sandwich</td>
            <td align="right">2.45</td>
            <td><a style="cursor:pointer;">delete</a></td>
        </tr>
        <tr>
            <td>Main Salad</td>
            <td align="right">2.50</td>
            <td><a style="cursor:pointer;">delete</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td style="text-align:right;">
                7.90
            </td>
        </tr>
    </tfoot>
</table>
