<table class="table table-bordered">
    <tr>
        <td width="250">Time:</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">11.30</button>
                <ul class="dropdown-menu">
                    <li><label>11.30</label></li>
                    <li><label>11.45</label></li>
                    <li><label>12.00</label></li>
                    <li><label>12.15</label></li>
                    <li><label>12.30</label></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Collect (cafe)</button>
                <ul class="dropdown-menu">
                    <li><label>Collect (cafe)</label></li>
                    <li><label>Penshurst</label></li>
                    <li><label>Groombridge</label></li>
                    <li><label>Emmetts</label></li>
                    <li><label>Bedgebury</label></li>
                    <li><label>Walmer</label></li>
                    <li><label>O/T Offices</label></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
