
<script src="~/Scripts/CreateOrder.js"></script>

<div class="container" style="overflow-y: scroll; height:250px; border:solid; border-color:lightgray; border-width:1px; padding:3px, 3px, 3px, 3px;">
    <table style="font-size:medium;" class="table table-striped">
        <tr><td onclick="ClickItem()" style="cursor:pointer;">Breakfasts</td></tr>
        <tr><td>Jacket Potato</td></tr>
        <tr><td>Sandwich</td></tr>
        <tr><td>Toasted Sandwich</td></tr>
        <tr><td>Rice &amp; Main Salad</td></tr>
        <tr><td>Cakes &amp; Biscuits</td></tr>
        <tr><td>Ice Creams</td></tr>
    </table>
</div>